{% extends 'frontend/base.html' %}
<!Doctype html>
{% load static %}
{% block title %}
About
{% endblock %}

{% block content %}
<section id="sectionTitle">
  <div class="pageTitle">
    <h1>About Us</h1>
  </div>
</section>
<!-- END OF PAGE TITLE -->
<section id="content">
  <div class="row">
    <div class="col-sm-9 text-center" id="mainContent">
      <div class="row">
        {% if abt %}
          {% for a in abt %}
              <div class="col-sm-4">
                <a href="{% url 'frontend:about_detail' a.id  %}">
                  <img src="{{ a.abt_image.url }}" class="img-circle">
                </a>
                <h2>{{ a.abt_title }}</h2>
                <a href="{% url 'frontend:about_detail' a.id  %}" class="btn btn-primary">Readmore</a>
              </div>
          {% endfor %}
        {% endif %}
        
        
      </div>
    </div>
      {% include 'frontend/sidebar.html' %}

  </div>
</section>
{% endblock %}