<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2></h2>
    <table width='650' border="1">
        <tr>
            <th>Fields</th>
            <th>Data</th>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ name }}</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>{{ phone }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ email }}</td>
        </tr>
        <tr>
            <td>Referer</td>
            <td>{{ referer }}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{ gender }}</td>
        </tr>
        <tr>
            <td>Message</td>
            <td>{{ message }}</td>
        </tr>


    </table>
    
</body>
</html>